body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.custom-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #040c80;
    border-color: #f3f3fa;
}